/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use 'sass:math';
@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/@wordpress/base-styles/variables";
@import "node_modules/@wordpress/base-styles/mixins";
@import "node_modules/@wordpress/base-styles/breakpoints";
@import "node_modules/@wordpress/base-styles/animations";
@import "node_modules/@wordpress/base-styles/z-index";

//Molempien CSS

  .pagination button.num-button {
      margin-left: 5px !important;
      font-size: 13.5px;
  }

  .pagination button.first-page:disabled,
  .pagination button.prev-page:disabled,
  .pagination .next-page:disabled,
  .pagination .last-page:disabled {
      background-color: #efefef;
      border: 1.8px solid #b3b3b3;
      border-radius: inherit;
      color: #b3b3b3;
      padding: 2px 6px;
      font-size: 13.5px;
  }

  .pagination button.prev-page {
      margin-right: 5px !important;
      font-size: 13.5px;
  }

  .pagination button.next-page {
      margin-left: 10px !important;
      font-size: 13.5px;
  }

  .pagination .last-page {
      margin-left: 10px;
      font-size: 13.5px;
  }

  .pagination .first-page {
      margin-right: 10px;
      font-size: 13.5px;
  }

  .pagination button.active {
      background-color: white;
      border: 2px solid black;
      border-radius: inherit;
      padding: 2px 6px;
      color: black;
      font-size: 13.5px;
  }

  .pagination .num-button,
  .pagination .last-page,
  .pagination .next-page {
      padding: 2px 6px;
      border: 1.8px solid #767676;
      background-color: #efefef;
      color: black;
      font-size: 13.5px;
  }

  .pagination .page-of {
      margin-top: 0.2rem;
      font-size: 13.5px;
  }



//Editorin CSS osuus

.components-text-control__input.is-next-40px-default-size {
    height: auto !important;
}

.wp-block-meita-documents-and-media-show-bucket .filesPreview >ul{
    list-style: none;
    padding-left: 0px;
}
.wp-block-meita-documents-and-media-show-bucket .filesPreview li{
    margin-bottom: 15px;
    display: flex;
}

form#documents-and-media-form {
    background-color: transparent;
    //border: 1px solid black;
}

.wp-block-meita-documents-and-media-show-bucket .filesPreview{

    .meita-documents-and-media-icon{
        align-self: baseline;
    }
    .meita-documents-and-media-icon svg{
        height: 65px;
        margin-right: 15px;
        border-radius: 5px;
        width: 50px;
    }
    .meita-documents-and-media-icon span{
        font-size: 54px;
        margin: 5px;
        padding-top: 2px;
    }
    .meita-documents-and-media-content .updated-date {
        font-size: 0.938rem;
    }
    .meita-documents-and-media-listitem .meita-documents-and-media-content a{
        text-decoration: none;     
    }
    .meita-documents-and-media-listitem .meita-documents-and-media-content a:hover{
        text-decoration: underline;
    }
    .download-button{
        margin: 0;
    }
    .document-name {
        margin: 0;
    }
    .document-name a{
        font-weight: 600;
        text-decoration: none;
        hyphens: auto;
    }

    .document-name a:hover {
        text-decoration: underline;
    }
}

form.documents-and-media-form{
    background-color: transparent;
    border: 1px solid black;
    width: 60%;
}

//JUlkipuolen CSS

.wp-block-meita-documents-and-media-show-bucket{
   
    .wp-block-search__button-outside.wp-block-search__text-button.wp-block-search {
        background-color: transparent !important;
        border: 1px solid black;
    }
    
    .document-name{
        margin: 0;
    }
    .document-name a {
        font-weight: 600;
        text-decoration: none;
        hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break:break-word;

    }
    .document-name a:hover {
        text-decoration: underline;
    }
    ul{
        list-style: none;
        padding-left: 0px;
    }
    .meita-documents-and-media-listitem{
        margin-bottom: 15px;
        display: flex;
    }
    .meita-documents-and-media-icon svg {
        height: 65px;
        margin-right: 15px;
        border-radius: 5px;
        width: 50px;
    }
    .document-name a {
        font-weight: 600;
    }
    .download-button {
        margin: 0;
    }
    .googlebucketlist ul{
        margin-top: 2rem;
    }
    .googlebucketlist p{
        margin: 0;
    }
    .googlebucketlist .pagination{
        margin-top: 2rem;
    }
    .googlebucketlist .pagination .page-of{
        margin-top: 1rem;
    }
    .pagination button.num-button {
        margin-left: 5px !important;
    }
    .pagination button.first-page:disabled, .pagination button.prev-page:disabled, .pagination .next-page:disabled, .pagination .last-page:disabled{
        background-color: #efefef;
        border: 1.8px solid #b3b3b3;
        border-radius: inherit;
        color: #b3b3b3;
        padding: 2px 6px;
    }

    .pagination button.prev-page {
        margin-right: 5px !important;
    }
    .pagination button.next-page {
        margin-left: 10px !important;
    }
    .pagination .last-page{
        margin-left: 10px;
    }
    .pagination .first-page{
        margin-right: 10px;
    }
    .pagination button.active {
        background-color: white;
        border: 2px solid black;
        border-radius: inherit;
        padding: 2px 6px;
        color: black;
    }
    .pagination .num-button, .pagination .last-page, .pagination .next-page{
        padding: 2px 6px;
        border: 1.8px solid #767676;
        background-color: #efefef;
        color: black;
    }
    .pagination .page-of {
        margin-top: 0.2rem;
    }
    .wp-block-search__label {
         color: black;
    }
}

@media only screen and (max-width: 600px){
    form.documents-and-media-form{
        width: 100%;
    }
}


/*!
  * WordPress CSS Spinner
  * @license GPL-2.0+
  * @author kuus <kunderikuus@gmail.com> (https://kuus.github.io)
  */

$wp-spinner-bg: #808080;
$wp-spinner-fg: #fff;
$wp-spinner-size: 18px;
$wp-spinner-size-inner: 4px;
$wp-spinner-anim-duration: 1.08s;


@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinnery {
    //	.cssanimations & {
    position: relative;
    width: $wp-spinner-size;
    height: $wp-spinner-size;
    border-radius: $wp-spinner-size;
    background: $wp-spinner-bg;
    animation: infinite-spinning $wp-spinner-anim-duration linear infinite;

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 50%;
        width: $wp-spinner-size-inner;
        height: $wp-spinner-size-inner;
        border-radius: $wp-spinner-size-inner;
        //		margin-left: -($wp-spinner-size-inner / 2);
        margin-left: calc(0px - math.div($wp-spinner-size-inner, 2));
        background: $wp-spinner-fg;
    }
}