/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Editorin painikkeet

.open-medialibrary{
    margin-top: 1rem;
}
.label-for-datasource{
    line-height: 1.4;
    font-size: 11px;
    font-weight: 500;
}
//Editorin CSS osuus

.wp-block-meita-documents-and-media-show-media .filesPreview>ul {
    list-style: none;
    padding-left: 0px;
}

.wp-block-meita-documents-and-media-show-media .filesPreview li {
    margin-bottom: 15px;
    display: flex;
}

.wp-block-meita-documents-and-media-show-media .filesPreview {

    .meita-documents-and-media-icon {
        align-self: baseline;
    }
    .meita-documents-and-media-icon svg {
        height: 65px;
        margin-right: 15px;
        border-radius: 5px;
        width: 50px;
    }
    .meita-documents-and-media-icon span {
        font-size: 54px;
        margin: 5px;
        padding-top: 2px;
        height: 65px;
        margin-right: 15px;
        width: 50px;
        display: block;
    }
    .meita-documents-and-media-listitem .meita-documents-and-media-content a {
        text-decoration: none;
    }
    .meita-documents-and-media-listitem .meita-documents-and-media-content a:hover {
        text-decoration: underline;
    }
    .download-button {
        margin: 0;
    }
    .document-name {
        margin: 0;
    }
    .document-name a {
        font-weight: 600;
        text-decoration: none;
    }
    .document-name a:hover {
        text-decoration: underline;
    }
    .pagination .active {
        background-color: white;
    }
    .css-1t5ousf {
        margin-bottom: 0 !important;
    }
    .wp-block-search__input .components-base-control__field {
        margin-bottom: 0px;
    }

}




